In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_excel('datav2.xlsx')

In [4]:
data.head()

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Material,Length,Status,Age2018,BreakAge,ExpBreak (Target)
0,41492,2815,2019,1995,2.00,PVC,186.15,0,23,24,1
1,41492,2816,2019,1995,2.00,PVC,186.15,0,23,24,1
2,21808,3007,2019,1992,6.00,DI,67.88,0,26,27,1
3,42986,3012,2019,1992,2.00,GAL,122.40,0,26,27,1
4,43011,2830,2019,1992,1.25,GAL,79.46,0,26,27,1

In [6]:
# I want to label encode the Material column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() 
data['Material'] = le.fit_transform(data['Material'])
data.head()

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Material,Length,Status,Age2018,BreakAge,ExpBreak (Target)
0,41492,2815,2019,1995,2.00,5,186.15,0,23,24,1
1,41492,2816,2019,1995,2.00,5,186.15,0,23,24,1
2,21808,3007,2019,1992,6.00,3,67.88,0,26,27,1
3,42986,3012,2019,1992,2.00,4,122.40,0,26,27,1
4,43011,2830,2019,1992,1.25,4,79.46,0,26,27,1

In [8]:
data.to_csv('datav2.csv', index=False)

In [9]:
data.shape

(850, 11)

In [10]:
data2 = pd.read_csv('datav1.csv')

In [11]:
data2.shape

(42505, 9)

In [12]:
data2.head()

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Length,BreakAge,Material_encoded,ExpBreak (Target)
0,37260,73.0,2012,1996,2.0,574.17,16.0,14,1
1,13986,96.0,2012,1986,4.0,1123.21,26.0,4,1
2,13986,185.0,2012,1986,4.0,1123.21,26.0,4,1
3,4582,99.0,2012,1980,2.0,107.85,32.0,12,1
4,31809,98.0,2012,1980,2.0,132.37,32.0,12,1

In [13]:
# rename the column name 'Material_encoded' to 'Material' for data2

data2.rename(columns={'Material_encoded': 'Material'}, inplace=True)

In [14]:
data2.head()

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Length,BreakAge,Material,ExpBreak (Target)
0,37260,73.0,2012,1996,2.0,574.17,16.0,14,1
1,13986,96.0,2012,1986,4.0,1123.21,26.0,4,1
2,13986,185.0,2012,1986,4.0,1123.21,26.0,4,1
3,4582,99.0,2012,1980,2.0,107.85,32.0,12,1
4,31809,98.0,2012,1980,2.0,132.37,32.0,12,1

In [15]:
# add age till 2018 for data2. formula will be 2018-InstallYear for data2

data2['Age2018'] = 2018 - data2['InstallYear']

In [16]:
data2

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Length,BreakAge,Material,ExpBreak (Target),Age2018
0,37260,73.0,2012,1996,2.0,574.17,16.0,14,1,22
1,13986,96.0,2012,1986,4.0,1123.21,26.0,4,1,32
2,13986,185.0,2012,1986,4.0,1123.21,26.0,4,1,32
3,4582,99.0,2012,1980,2.0,107.85,32.0,12,1,38
4,31809,98.0,2012,1980,2.0,132.37,32.0,12,1,38
...,...,...,...,...,...,...,...,...,...,...
42500,7461,NaN,NaN,1888,8.0,1.54,NaN,3,0,130
42501,43862,NaN,NaN,1888,2.5,2.64,NaN,3,0,130
42502,43863,NaN,NaN,1888,2.5,2.57,NaN,3,0,130
42503,33231,NaN,NaN,1888,6.0,0.67,NaN,3,0,130
42504,33293,NaN,NaN,1888,6.0,13.97,NaN,3,0,130

In [18]:
# remove the column status from data 
data.drop(columns=['Status'], inplace=True)

In [19]:
data.shape

(850, 10)

In [20]:
data2.shape

(42505, 10)

In [21]:
# save both data and data2 to csv files
data.to_csv('dataaf18_cleaned.csv', index=False)
data2.to_csv('datatrain_cleaned.csv', index=False)

In [22]:
data2

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Length,BreakAge,Material,ExpBreak (Target),Age2018
0,37260,73.0,2012,1996,2.0,574.17,16.0,14,1,22
1,13986,96.0,2012,1986,4.0,1123.21,26.0,4,1,32
2,13986,185.0,2012,1986,4.0,1123.21,26.0,4,1,32
3,4582,99.0,2012,1980,2.0,107.85,32.0,12,1,38
4,31809,98.0,2012,1980,2.0,132.37,32.0,12,1,38
...,...,...,...,...,...,...,...,...,...,...
42500,7461,NaN,NaN,1888,8.0,1.54,NaN,3,0,130
42501,43862,NaN,NaN,1888,2.5,2.64,NaN,3,0,130
42502,43863,NaN,NaN,1888,2.5,2.57,NaN,3,0,130
42503,33231,NaN,NaN,1888,6.0,0.67,NaN,3,0,130
42504,33293,NaN,NaN,1888,6.0,13.97,NaN,3,0,130

In [23]:
data

,ID,Failure_ID,BreakYear,InstallYear,Diameter,Material,Length,Age2018,BreakAge,ExpBreak (Target)
0,41492,2815,2019,1995,2.00,5,186.15,23,24,1
1,41492,2816,2019,1995,2.00,5,186.15,23,24,1
2,21808,3007,2019,1992,6.00,3,67.88,26,27,1
3,42986,3012,2019,1992,2.00,4,122.40,26,27,1
4,43011,2830,2019,1992,1.25,4,79.46,26,27,1
...,...,...,...,...,...,...,...,...,...,...
845,30832,3716,2022,1923,10.00,1,296.62,95,99,1
846,31054,3758,2022,1923,6.00,1,19.12,95,99,1
847,35721,3711,2022,1923,10.00,1,33.01,95,99,1
848,37320,3718,2022,1923,8.00,1,209.40,95,99,1
849,37406,3693,2022,1923,8.00,1,537.53,95,99,1